.list2 {
  position: relative;
  top: 0px;
  left: -50px;
}

.tasktitle {
  font-family: arial;
  font-size: 40px;
  margin
}

.wrapper{
  display:flex;
  width: 600px;
  height:600px;
  font-size: 39.25px;
 }

.wrapper>*{
  flex:1;
 }

 .delete {
   width: 35px;
   height: 35px;
   background-color: red;
   display: block;
   margin:  10px;
   bottom: 563px;
   position: relative;
   left: 200px;
   font-size: 35px;
   font-weight: bold;
   font-family: arial;
   text-align: center;
 }

 .delete1 {
   width: 35px;
   height: 35px;
   background-color: red;
   display: block;
   margin:  10px;
   bottom: 563px;
   position: relative;
   left: 300px;
   font-size: 35px;
   font-weight: bold;
   font-family: arial;
   text-align: center;
 }

 #wrapper1 {
   width: 960px;
   height:960px;
   display:flex;
 }

 #wrapper1>*{
   flex:1;
  }

  .position {
    right: 150px;
    position: relative;
  }
