.gamespace {
  width: 400px;
  height: 620px;
  background-color: lightblue;
  margin: 100px auto;
  opacity: .95;
}

#start {
  left: 155px;
  top: 288.5px;
  position: relative;
  color: green;
}

#showscore {
  width: 120px;
  height: 30px;
  right: 120px;
  background-color: gray;
  position: relative;
}

#highscore {
  width: 120px;
  height: 30px;
  right: 120px;
  bottom: 61px;
  background-color: gray;
  position: relative;
}

.score {
  top: 5px;
  position: relative;
  font-family: arial;
  color: white;
}

#scores {
  top: 10px;
  position: relative;
}

#new {
  left: 190px;
  position: relative;
}

#quit {
  left: 185px;
  position: relative;
}

.controls {
  width: 400px;
  height: 95px;
  position: relative;
  margin: auto;
  bottom: 100px;
  border: solid 5px black;
  border-radius: 10px;
}

.background {
  z-index: -2;
}

#wrapper {
  width: 500;
  height: 500;
  display: flex;
}

.body {
  background-image: url(spacemovies.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#obj1 {
  width: 30px;
  height: 80px;
  background-color: green;
  position:relative;
  bottom: 21px;
}

.buttonwrap {
  width: 500;
  height: 500;
  display: inline;
}
