.score {
  top: 5px;
  position: relative;
  font-family: arial;
  color: white;
}

#gamespace {
  width: 400px;
  height: 620px;
  background-color: lightblue;
  margin: auto;

}

#showscore {
  width: 120px;
  height: 30px;
  top: 41px;
  right: 400px;
  background-color: gray;
  position: absolute;
}

#highscore {
  width: 120px;
  height: 30px;
  top: 10px;
  right: 400px;
  background-color: gray;
  position: absolute;
}

#start {
  left: 155px;
  top: 288.5px;
  position: absolute;
  color: green;
}


#new {
  left: 69.5%;
  top: 0%;
  position: absolute;
}

#quit {
  left: 90%;
  top: 0%;
  position: absolute;
}

#container {
  width: 400px;
  height: 620px;
  position: relative;
  margin: auto;
}

.controls {
  width: 400px;
  height: 95px;
  position: relative;
  margin: auto;
  border: solid 2.5px black;
  border-radius: 10px;
}


#wrapper {
  width: 500;
  height: 500;
  display: flex;
}

.body {
  background-image: url(spacemovies.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
}




/* .obj1 {
  width: 30px;
  height: 80px;
  background-color: green;
  position:relative;
  bottom: 21px;
}

.obj2 {
  width: 30px;
  height: 80px;
  background-color: green;
  position:relative;
  bottom: 102px;
  left: 40px;
} */


/* #buttonwrap {
  bottom: 741.5px;

  height: 100%;
  width: 100%;
  display: flex;
} */
